body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
div,nav,a,p,h1,h2,h3,h4,h5,h6,button,form,input,textarea,span{box-sizing: border-box;}

ol,ul{padding: 0; margin: 0;}

.container{
    max-width: 1200px;
    width: 100%;
    padding: 15px;
}

#color-picker-preview{
    margin: 20px 0;
    width: 100%;
    height: 70px;
    border: 1px double magenta;
}

.color-saved {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    max-width: 100%;
    width: 500px;
} 

.color-value{margin: 0 20px;}

button{
    border: 0;
    border-radius: 7px;
    background-color: #d7b8ff;
    margin: 6px;
}